<div class="author-box">
  <img scale="1.5"
       src-orig="https://s.gravatar.com/avatar/33966bc09e05f15c1ff7c9457bc25516?s=150&d=monsterid&r=g"
       originals="100" alt=""
       src="https://s.gravatar.com/avatar/33966bc09e05f15c1ff7c9457bc25516?s=150&d=monsterid&r=g"
       srcset="https://s.gravatar.com/avatar/33966bc09e05f15c1ff7c9457bc25516?s=200&d=monsterid&r=g"
       class="avatar avatar-100 photo" height="100" width="100">
  <div class="author-box-title"> Authored By Anirudha Kasralikar</div>


  <div class="author-description">
    Anirudha Kasralikar is a designer, developer, content writer, product manager, illustrator depending upon which role I play on given day. He can often be found in
    the Stackoverflow community, on Github, or on Twitter.
  </div>

  {% comment %}
  <div class="author_social">
    <ul class="soc">
      <li><a class="soc-facebook" href="anirudha.kasralikar"></a></li>
      <li><a class="soc-google" href="111282613185924513271"></a></li>
      <li><a class="soc-linkedin soc-icon-last" href="akasralikar"></a></li>
    </ul>
  </div>
  {% endcomment %}
</div>
