<footer id="FOOTER_1">
  <ul class="footer_nav_block">
    <li class="footer_nav_link">
      <a href="/about" class="footer_link">About</a>
    </li>
    <li class="footer_nav_link">
      <a href="/contact" class="footer_link">Contact</a>
    </li>
    <li class="footer_nav_link">
      <a href="/sitemap" class="footer_link">Sitemap</a>
    </li>
    <li id="LI_15">
      Follow me: <a href="http://www.facebook.com/anirudha.kasralikar" class="footer_link">Facebook</a> · <a
      href="https://plus.google.com/111282613185924513271" rel="publisher" class="footer_link">Google+</a> · <a
      href="http://www.twitter.com/akasralikar" class="footer_link">Twitter</a>
    </li>
  </ul>
  <ul class="footer_nav_copy">
    <li class="footer_nav_copy_text">
      <small class="SMALL_24">Copyright © 2016 Anirudha Kasralikar</small>
    </li>
  </ul>
</footer>


<style type="text/css">
  #FOOTER_1 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    height: 96px;
    left: 0px;
    position: relative;
    right: 0px;
    text-rendering: optimizeLegibility;
    top: 0px;
    width: 100%;
    column-rule-color: rgb(34, 34, 34);
    perspective-origin: 952px 48px;
    transform-origin: 952px 48px;
    background: rgb(237, 237, 237) url("images/noise.png") repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal normal 14px / 18px "Franklin ITC Light", sans-serif;
    outline: rgb(34, 34, 34) none 0px;
  }

  .footer_nav_block {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    height: 50px;
    max-width: 100%;
    text-rendering: optimizeLegibility;
    width: 960px;
    column-rule-color: rgb(34, 34, 34);
    perspective-origin: 480px 25px;
    transform-origin: 480px 25px;
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal normal 14px / 50px "Franklin ITC Light", sans-serif;
    list-style: none outside none;
    margin: 0px auto 22px;
    outline: rgb(34, 34, 34) none 0px;
    padding: 0px;
  }

  .footer_nav_link {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    display: inline-block;
    height: 50px;
    text-rendering: optimizeLegibility;
    width: 37px;
    column-rule-color: rgb(34, 34, 34);
    perspective-origin: 18.5px 25px;
    transform-origin: 18.5px 25px;
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal normal 14px / 50px "Franklin ITC Light", sans-serif;
    list-style: none outside none;
    margin: 0px 30px 0px 0px;
    outline: rgb(34, 34, 34) none 0px;
  }

  #LI_15 {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    display: block;
    float: right;
    height: 50px;
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(34, 34, 34);
    perspective-origin: 173.5px 25px;
    transform-origin: 173.5px 25px;
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal normal 14px / 50px "Franklin ITC Light", sans-serif;
    list-style: none outside none;
    outline: rgb(34, 34, 34) none 0px;
  }

  .footer_link {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    text-align: left;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(34, 34, 34);
    border: 0px none rgb(34, 34, 34);
    font: normal normal bold normal 14px / 50px "Franklin ITC", sans-serif;
    list-style: none outside none;
    outline: rgb(34, 34, 34) none 0px;
  }

  .footer_nav_copy {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    height: 24px;
    max-width: 100%;
    text-rendering: optimizeLegibility;
    width: 960px;
    column-rule-color: rgb(34, 34, 34);
    perspective-origin: 480px 12px;
    transform-origin: 480px 12px;
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal normal 14px / 24px "Franklin ITC Light", sans-serif;
    list-style: none outside none;
    margin: 0px auto 22px;
    outline: rgb(34, 34, 34) none 0px;
    padding: 0px;
  }

  .footer_nav_copy_text {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    display: inline-block;
    height: 24px;
    text-rendering: optimizeLegibility;
    width: 399px;
    column-rule-color: rgb(34, 34, 34);
    perspective-origin: 199.5px 12px;
    transform-origin: 199.5px 12px;
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal normal 14px / 24px "Franklin ITC Light", sans-serif;
    list-style: none outside none;
    margin: 0px 30px 0px 0px;
    outline: rgb(34, 34, 34) none 0px;
  }

  .SMALL_24 {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    display: block;
    height: 24px;
    text-align: left;
    text-rendering: optimizeLegibility;
    width: 399px;
    column-rule-color: rgb(34, 34, 34);
    perspective-origin: 199.5px 12px;
    transform-origin: 199.5px 12px;
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal normal 14px / 24px "Franklin ITC Light", sans-serif;
    list-style: none outside none;
    outline: rgb(34, 34, 34) none 0px;
  }
</style>
