<p class="entry-meta">
  <img scale="1.5"
       src-orig="https://s.gravatar.com/avatar/33966bc09e05f15c1ff7c9457bc25516?s=30&d=monsterid&r=g"
       originals="100" alt=""
       src="https://s.gravatar.com/avatar/33966bc09e05f15c1ff7c9457bc25516?s=45&d=monsterid&r=g"
       srcset="https://s.gravatar.com/avatar/33966bc09e05f15c1ff7c9457bc25516?s=60&d=monsterid&r=g 2x"
       class="avatar avatar-30 photo" height="30" width="30">

  By: <span class="entry-author entry-author-name" itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">Anirudha Kasralikar</span></span>


  {% capture page_tags %}
  {% for tag in page.tags %}
  {{ tag | downcase }}#{{ tag }}
  {% unless forloop.last %},{% endunless %}
  {% endfor %}
  {% endcapture %}
  {% assign tag_hashes = (page_tags | split: ',' | sort:0) %}

  In: <span class=" entry-categories post__taxonomy-wrapper" itemprop="keywords">
{% for hash in tag_hashes %}
  {% assign keyValue = hash | split: '#' %}
  {% capture tag_word %}{{ keyValue[1] | strip_newlines }}{% endcapture %}
    {% if forloop.last %} and{% endif %} <a
  href="{{ site.url }}{{ tag_word | slugify | prepend: '/topic/' | append: '/' }}" class="post__taxonomy-item"
  rel="tag">{{ tag_word }}</a>{% unless forloop.last %}, {% endunless %}
{% endfor %}
</span>
  <span class="entry_postdate">Last Updated:
    <time itemprop="datePublished" content="{{ page.modified | date_to_xmlschema }}" datetime="{{ page.modified | date: "%Y-%m-%d" }}">{{ page.modified | date: "%B %d, %Y" }}</time>
  </span>
</p>


