/* ==========================================================================
   SINGLE PAGE/POST
   ========================================================================== */

#main {
  padding-top: $masthead-height;
  animation: fade-in 2s;
}

/*
   Hero
   ========================================================================== */

.page__hero {
  position: relative;
  margin: 0 -1rem 2em;
  order: 2;
  @include breakpoint($small) {
    margin-left: -2rem;
    margin-right: -2rem;
  }
  @include breakpoint($medium) {
    margin-left: -3rem;
    margin-right: -3rem;
  }
}

.page__hero-image {
  width: 100%;
  @include breakpoint(1215px) {
    border-radius: $border-radius;
  }
}

.page__hero-credit {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  padding: 2px 5px;
  color: #fff;
  font-family: $sans-serif;
  font-size: 0.64rem;
  background: #000;
  text-align: right;
  z-index: 5;
  opacity: 0.5;
  border-radius: $border-radius 0 $border-radius 0;
  @include breakpoint($medium) {
    padding: 5px 10px;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
}

/*
   Content
   ========================================================================== */

.post__content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-top: 1em;
  @include breakpoint($small) {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
  }
}

.post__inner-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  @include breakpoint($medium-wide) {
    width: calc(100% - 200px);
  }
  @include breakpoint($large) {
    width: calc(100% - 240px);
  }
  @media (min-width: 1025px) {
    width: calc(100% - 380px);
  }
}


.post__inner-wrapper_home {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  @include breakpoint($medium-wide) {
    width: calc(100% - 200px);
  }
  @include breakpoint($large) {
    width: calc(100% - 240px);
  }
  @media (min-width: 1025px) {
    width: calc(100% - 80px);
  }
}

.post__body {
  width: 100%;

  p {
    max-width: 45rem; // keep measure at a readable length
  }

  /* introductory paragraph */
  > p:first-child {
    margin-top: 0;
    font-size: 1.125rem;
    @include breakpoint($medium) {
      font-size: 1.25rem;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 2rem 0 0;
    font-family: $serif;
    a {
      color: $headline-color;
    }
  }

  h2 {
    margin-top: 3rem;
    font-size: 1.563rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  h4, h5, h6 {
    font-size: 1rem;
  }

  /* cleaner underlines for links */
  p > a {
    border-bottom: 1px solid $link-underline-color;
    &:hover {
      color: #000;
      border-bottom-color: #000;
    }
  }
  li > a,
  td > a,
  small a {
    color: inherit;
    border-bottom: 1px solid $link-underline-color;
    &:hover {
      color: #000;
      border-bottom-color: $text-color;
    }
  }

  ul, ol {
    li + li {
      margin-top: 0.5em;
    }
  }

  /* hide toc to avoid flash of content as it moves to sidebar */
  .js-toc {
    display: none;
  }
}

/* header */

.post__header {
  display: flex;
  flex-direction: column;
  @include breakpoint(1215px) {
    margin-top: 1em;
  }
}

.post__title {
  margin: 0;
  font-family: $serif;
  font-size: 1.953rem;
  order: 3;
}

.post__excerpt {
  margin-bottom: 0;
  max-width: 45rem; // keep measure at a readable length
  font-size: 1.125rem;
  font-weight: normal;
  line-height: 1.5;
  order: 4;
  @include breakpoint($medium) {
    font-size: 1.25rem;
  }
  > a {
    border-bottom: 1px solid $link-underline-color;
    &:hover {
      color: #000;
      border-bottom-color: #000;
    }
  }
}

/* footer */

.post__footer {
  margin-top: 2em;
  order: 3;
}

/* author info */

.author__wrapper {
  display: flex;
  flex: 4;
  align-items: center;
}

.author__name {
  margin: 0;
  font-family: $sans-serif;
  a:hover {
    text-decoration: underline;
  }
}

.author__bio {
  margin: 0;
  padding: 0;
  font-family: $sans-serif;
  font-size: 0.8rem;
}

.author__avatar {
  display: block;
  order: -1;
  margin-right: 1em;
  img {
    width: 50px;
    height: 50px;
    border-radius: $border-radius;
  }
}

/* social */

.post__social {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  .btn {
    width: 100%;
  }
  @include breakpoint($small) {
    flex-direction: row;
    justify-content: space-between;
    .btn {
      &:first-child {
        margin-right: 4px;
      }
      &:last-child {
        margin-left: 4px;
      }
    }
  }
}
ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}
.avatar {
  float: left;
}

.alignleft .avatar {
  margin-right: 24px;
  margin-right: 2.4rem;
}

.alignright .avatar {
  margin-left: 24px;
  margin-left: 2.4rem;
}

.author-box {
  padding: 1.1rem;
  border: 1px solid #e1e1e1;
  overflow:hidden;
}

.author-box-title {
  color: #111;
  font-size: 23px;
}
.mb_logo {
  display:none;
}

.author-box-title a {
  text-transform:uppercase;
  color: #ca2129;
}

.author-box p {
  margin-bottom: 0;
}

.author-box .avatar {
  margin: 0rem 2.1rem 4.1rem 0rem;
  border-radius: 50px;
  -webkit-border-radius: 50px;
}
.afb {
  background: #5d82d1;
  margin: 0px 4px 0 0 !important;
  padding: 13px 17px !important;
}
.atwt {
  background: #40bff5;
}
.agpls {
  background: #ef4e41;
}
.atlnk {
  background: #4883ae;
}
.atytube	{
  background: #eb5e4c;
}
.author_social {
  margin: 10px 0 0 0;
}
.author_social  a {
  padding: 13px 14px;
  display: inline-block;
  border-radius: 3px;
  margin: 0px 4px;
  color: #fff;
}
.archive-description {
  border-top: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
}

.entry {
  background-color: #fff;
  margin-bottom: 15px;
  border: 1px solid #e1e1e1;
  padding: 3.1rem;
}

.content .entry:last-child {
  margin-bottom: 0px;
}

.pagination {
  padding: 12px 20px;
  text-align: right;
  margin-top: -15px;
  border-right: 1px solid #e1e1e1;
  border-left: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}

.entry-content a:hover {
  color: #333;
}

.entry-content .attachment a,
.entry-content .gallery a {
  border: none;
}
.entry-meta img {
  border-radius: 50px;
  margin: 0 4px 0 0;
}
.entry-meta span {
  display: inline-block;
  padding: 0px 9px 0 5px;
  border-right: 1px solid #4a4a4a;
  line-height: 13px;
  margin: 7px 0 0;
}

.entry-meta .entry-author-name {
  padding: 0 0px 0 0px !important;
  margin: 0px 0 0 !important;
  text-transform: capitalize;
  border-right: 0px solid #626161 !important;
}
.entry_postdate {
  border-right: 0px solid #4a4a4a !important;
}
.entry-content ol,
.entry-content p,
.entry-content ul,
.quote-caption {
  margin-bottom: 26px;
  margin-bottom: 2.6rem;
}

.entry-content ol,
.entry-content ul {
  margin-left: 30px;
  margin-left: 3rem;
}

.entry-content ol li {
  list-style-type: decimal;
}

.entry-content ul li {
  list-style-type: none;
  overflow:hidden;
}

.entry-content ol ol,
.entry-content ul ul {
  margin-bottom: 0;
}

.entry-content .search-form {
  width: 50%;
}

.entry-meta {
  color: #4a4a4a;
  //font-size: 14px;
  //font-size: 1.4rem;
  overflow:hidden;
}
.page .entry-meta {
  border-bottom: 1px dashed #E4E2E2;
  padding: 7px 0 14px;
  margin: 10px 0px 0;
}
.page .entry-meta span {
  border-right: 1px solid #f5f5f5;

}

/* taxonomy */

.post__taxonomy {
  margin-top: 2em;
  font-size: 0.8rem;
  order: 1;
}

.post__taxonomy-item {
  font-family: $sans-serif;
  font-weight: bold;
  color: $text-color;
  white-space: nowrap;
  &:hover {
    text-decoration: underline;
  }
}

/* comments */

.post__comments {
  order: 2;
}

#disqus_thread iframe {
  margin-top: 2em;
}


/* tag boxes */

.tag__item {
  display: block;
  text-decoration: none;
  font-family: $sans-serif;
  font-weight: bold;
  white-space: nowrap;
  border-bottom-width: 0 !important; // override
  &:hover {
    text-decoration: underline;
  }
}

.tag__name {
  float: left;
  padding-right: 0.125em;
  font-weight: normal;
  font-family: $serif;
  background: $background-color;
}

.tag__count {
  float: right;
  padding-left: 0.125em;
  background: $background-color;
}

.tag__list {
  margin: 0;
  padding: 0;
  column-gap: 3em;
  @include breakpoint($small) {
    column-count: 2;
    column-width: 150px;
  }
  @include breakpoint($medium) {
    column-count: 3;
  }
  li {
    list-style-type: none;
    font-size: 0.8rem;
    line-height: 2;
    @include breakpoint($medium) {
      line-height: 1.75;
    }
  }
  li + li {
    margin-top: 0 !important; // override
  }
  .tag__item {
    @include clearfix();
    padding-bottom: 4px;
    overflow: hidden;
    &:before {
      float: left;
      width: 0;
      content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
      white-space: nowrap;
      color: $gray;
    }
  }
}


/*
   Sidebar
   ========================================================================== */

.post__sidebar {
  width: 100%;
  @include breakpoint($medium-wide) {
    margin-left: 80px;
    width: 160px;
  }
  @media (min-width: 1025px) {
    margin-left: 80px;
    width: 300px;
  }
  .js-toc {
    @media (max-width: 1025px) {
      display: none !important; // override
    }
  }
}

/* ads */

.ad--sidebar {
  margin: 0 0 2em;
  text-align: center;
  @media (max-width: 320px) {
    position: relative;
    left: -15px;
  }
  @media (min-width: 320px) {
    margin-left: auto;
    margin-right: auto;
  }
}


@font-face {
  font-family: 'si';
  src: url('fonts/socicon-1.3/socicon.eot');
  src: url('fonts/socicon-1.3/socicon.eot?#iefix') format('embedded-opentype'),
  url('fonts/socicon-1.3/socicon.woff') format('woff'),
  url('fonts/socicon-1.3/socicon.ttf') format('truetype'),
  url('fonts/socicon-1.3/socicon.svg#icomoonregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family:si;
    src: url(fonts/socicon-1.3/socicon.svg) format(svg);
  }
}

.soc {
  overflow:hidden;
  margin:0; padding:0;
  list-style:none;
}

.soc li {
  display:inline-block;
  *display:inline;
  zoom:1;
}

.soc li a {
  font-family:si!important;
  font-style:normal;
  font-weight:400;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  -o-box-sizing:border-box;
  box-sizing:border-box;

  -o-transition:.1s;
  -ms-transition:.1s;
  -moz-transition:.1s;
  -webkit-transition:.1s;
  transition:.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);

  overflow:hidden;
  text-decoration:none;
  text-align:center;
  display:block;
  position: relative;
  z-index: 1;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 22px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-right: 9px;
  color: #ffffff;
  background-color: none;
}

.soc a:hover {
  z-index: 2;

}

.soc-icon-last{
  margin:0 !important;
}

.soc-facebook {
  background-color: #3e5b98;
}
.soc-facebook:before {
  content:'b';
}
.soc-google {
  background-color: #d93e2d;
}
.soc-google:before {
  content:'c';
}
.soc-linkedin {
  background-color: #3371b7;
}
.soc-linkedin:before {
  content:'j';
}

.soc-facebook:hover {
  background-color: #526fac;
}
.soc-google:hover {
  background-color: #ed5241;
}
.soc-linkedin:hover {
  background-color: #4785cb;
}
