---
layout: default
---

{% include masthead.html %}
{% include browser-upgrade.html %}

<div id="main" role="main">
  <div class="container post__content">
    {% unless page.fullwidth == true %}
    <div class="post__inner-wrapper_home">
      {% endunless %}
      <section class="post__body">
        {{ content }}
      </section>
      {% unless page.fullwidth == true %}

      <div id="snappy_DIV_4">
        <aside id="snappy_ASIDE_1">
          This site explores the coding, development, and technical topics, with a special focus on programming
          standards and best practices. Explore my <a href="/articles" id="snappy_A_2">articles</a> or find out more <a
          href="/about" id="snappy_A_3">about me</a>.
        </aside>
      </div>
    </div>
    {% endunless %}
  </div>
</div>

{% include colophon.html %}


<style type="text/css">
  #snappy_DIV_4 {
    border-bottom-color: rgb(34, 34, 34);
    border-left-color: rgb(34, 34, 34);
    border-right-color: rgb(34, 34, 34);
    border-top-color: rgb(34, 34, 34);
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    font-family: georgia, serif;
    font-size: 18px;

    left: 0px;
    line-height: 30px;
    outline-color: rgb(34, 34, 34);
    padding-top: 96px;
    position: relative;
    right: 0px;
    text-rendering: optimizeLegibility;
    top: 0px;
    width: 100%;
    column-rule-color: rgb(34, 34, 34);
    perspective-origin: 952px 944.5px;
    transform-origin: 952px 944.5px;
    border: 0px none rgb(34, 34, 34);
    border-top: 0px none rgb(34, 34, 34);
    border-right: 0px none rgb(34, 34, 34);
    border-bottom: 0px none rgb(34, 34, 34);
    border-left: 0px none rgb(34, 34, 34);
    border-color: rgb(34, 34, 34);
    border-radius: 0 0 0 0;
    font: normal normal normal normal 18px / 30px georgia, serif;
    outline: rgb(34, 34, 34) none 0px;
  }

  #snappy_ASIDE_1 {
    background-color: rgb(240, 240, 240);
    border-bottom-color: rgb(34, 34, 34);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-left-color: rgb(34, 34, 34);
    border-right-color: rgb(34, 34, 34);
    border-top-color: rgb(34, 34, 34);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    font-family: georgia, serif;
    font-size: 14px;
    margin-bottom: 24px;
    margin-top: 50px;
    outline-color: rgb(34, 34, 34);
    padding-bottom: 18px;
    padding-left: 86px;
    padding-right: 86px;
    padding-top: 18px;
    text-align: center;
    text-rendering: optimizeLegibility;
    width: 100%;
    column-rule-color: rgb(34, 34, 34);
    perspective-origin: 480px 42px;
    transform-origin: 480px 42px;
    background: rgb(240, 240, 240) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(34, 34, 34);
    border-top: 0px none rgb(34, 34, 34);
    border-right: 0px none rgb(34, 34, 34);
    border-bottom: 0px none rgb(34, 34, 34);
    border-left: 0px none rgb(34, 34, 34);
    border-color: rgb(34, 34, 34);
    border-radius: 6px 6px 6px 6px;
    font: normal normal normal normal 14px / 24px georgia, serif;
    outline: rgb(34, 34, 34) none 0px;
    padding: 18px 86px;
  }

  #snappy_A_2, #snappy_A_3 {
    border-bottom-color: rgb(36, 85, 195);
    border-left-color: rgb(36, 85, 195);
    border-right-color: rgb(36, 85, 195);
    border-top-color: rgb(36, 85, 195);
    box-sizing: border-box;
    color: rgb(36, 85, 195);
    font-family: georgia, serif;
    font-size: 14px;
    line-height: 24px;
    outline-color: rgb(36, 85, 195);
    text-align: center;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(36, 85, 195);
    border: 0px none rgb(36, 85, 195);
    border-top: 0px none rgb(36, 85, 195);
    border-right: 0px none rgb(36, 85, 195);
    border-bottom: 0px none rgb(36, 85, 195);
    border-left: 0px none rgb(36, 85, 195);
    border-color: rgb(36, 85, 195);
    border-radius: 0 0 0 0;
    font: normal normal normal normal 14px / 24px georgia, serif;
    outline: rgb(36, 85, 195) none 0px;
  }




</style>
